a
{
	color: #22BCE0;
}


body
{
	background: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/* max-width: 320px;     Para cerrar los pixeles */
}

footer
{
	font-size: 0.8em;
	background: #1a171c;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:before
{
	content: "- ";
}

footer p:last-child:after
{
	content: " -";
}


header
{
	background: #1a171c;
	color: white;
	overflow: hidden; /* Cuenta las cosas y se acomoda a ellas */
	padding: 0.5em;
	position: relative; /* 00 es el header */
}

header figure
{
	float: left;
}

header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0; /* margen del h1*/
}

header #logo img
{
	border-right: 1px solid white;
	display: inline-block;
	padding-right: 0.5em; /* margen interno */
	margin-right: 0.5em; /* margen externo */
	width: 120px;
}

figure
{
	margin:0;
}

nav
{
	
	/*box-shadow: rgba(0,0,0,0.5) 0px 1px 10px;*/
	background: #FFFFFF;
	display: inline-block;
	font-family: sans-serif;
	padding: 0.4em 0 0.4em 0;
	/*position: relative;  Para que partan de aquí los "0s" y aquí se quede el boton plunlicar*/

}

nav ul
{	
	background: #FFFFFF;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav ul li
{
	/*float: right;*/
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	display: inline-block; /* acomoda el menú */
	float: left;
	margin: 0;

}

nav ul li:last-child
{
	border-right: 1px solid red;
}

nav ul li a 
{
	background: #FFFFFF;
	color: #000000;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

nav ul li a:hover 
{
	background: red;
	text-decoration: none;
}

nav ul #publicar_nav
{

	position: absolute;
	right: 0;
	top: -0.1em;
	
}

nav ul #publicar_nav a 
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

}

#contenido
{
	margin: 0.5em;
}

#contenido .destacados .item_destacado
{
	background: rgba(66,66,66,0.9);
	/*border-bottom: 3px solid #22BCE0;*/
	/* border-radius: 0.3em; */
	/* min-height: 100px; */
	margin: 0 0 0.2em 0;
	padding: 0 0 0.5em 0;
	border-bottom: 1px dotted #444;
	position: relative;
	
}

#contenido .destacados .imagen_item_destacado
{
	float: left; 
	margin: 0;
	width: 100%;

}

#contenido .destacados .imagen_item_destacado img 
{
	border-radius: 0.3em;
	width: 100%;
	
}

#contenido .destacados .titulo_item_destacado
{
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 1em 0 0;
}

#contenido .destacados .titulo_item_destacado a 
{
	color: #FFFFFF;
	font-family: sans-serif;
	font-size:1.1em;
	font-weight: normal;
	text-decoration: none;

}

#contenido .item
{
	background: rgba(241,241,241,0.9);
	/*border-bottom: 3px solid #22BCE0;*/
	/* border-radius: 0.3em; */
	min-height: 100px; 
	padding: 1.3em 0;
	border-bottom: 1px dotted #444;
	position: relative;
}


#contenido .item .autor_item
{
	color: #aaa;
	margin-top: 0;
}

#contenido .item .datos_item
{
	margin: 0.3em 1em 0 0;
}

#contenido .item .datos_item .fecha_item
{
	
	bottom: 1em;
	color: #ccc;
	font-size: 0.8em;
	position: absolute;
}

#contenido .item .datos_item .tag_item
{
	
	display:none;
/*
	background: #F4502A;
	border-radius: 0.3em;
	bottom: 0.3em;
	color: white;
	display: inline-block;
	float: right;
	padding: 0.1em 0.2em;
	text-decoration: none;
	position: absolute;
	right: 0.4em;
	*/
}

#contenido .item .titulo_item
{

	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 1em 0 0;
}

#contenido .item .imagen_item
{
	float: left; 
	margin-right: 0.6em;

}

#contenido .item .imagen_item img 
{
	border-radius: 0.3em;
	width: 140px;
	height: 100px;
}

#contenido .item .titulo_item
{

	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 1em 0 0;
}

#contenido .item .titulo_item a 
{#contenido
	color: #444;
	font-family: sans-serif;
	font-size:1.1em;
	font-weight: normal;
	text-decoration: none;

}

#contenido .item .votacion
{
	background: white;
	border: 1px solid red;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em 0 0;
	position: absolute;
	right: 3%;
	top: 100%;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}

#destacado_tablet
{
	display: none;
}

#mas_videos
{
	margin-top: 0.4em;
}

#mas_videos .item_videos
{
	background: rgba(0,0,0,0.3);
	/*border-bottom: 3px solid #ffffff;*/
	/* border-radius: 0.3em; */
	min-height: 100px;
	padding: 1.3em 0;
	border-bottom: 1px dotted white;
	position: relative;
	text-align: left;
	width: 100%;
}

	#mas_videos .item_videos .datos_item .fecha_item
	{
	
		bottom: 1em;
		color: #fff;
		font-size: 0.8em;
		position: absolute;
	}

	#mas_videos .item_videos .imagen_item
	{
		float: left; 
		margin-right: 0.6em;
		margin-left: 0.4em;

	}

	#mas_videos .item_videos .imagen_item img 
	{
		border-radius: 0.3em;
		width: 140px;
		height: 100px;
	}

	#mas_videos .item_videos .datos_item .tag_item
	{
	
		display:none;

	}

	#mas_videos .item_videos .titulo_item
	{

		font-size: 1em;
		font-weight: bold;
		margin: 0 0 0.5em 0.5em;
		padding: 0.2em 1em 0 0;
	}

	#mas_videos .item_videos .titulo_item a 
	{
		color: #444;
		font-family: sans-serif;
		font-size:1.1em;
		font-weight: normal;
		text-decoration: none;

	}

#tv_inicio_movil
{
	text-align: center;
	margin: 1em 0 1em 0;
	width: 100%;
	display: block;

	/*display: none; A 768px */

}

#tv_inicio_movil .caja_video
{
	background: rgba(0,0,0,0.6);
	margin-top: 0.4em;
	height: 250px;
}

.cintillos
{
	background-color: #000;
	border-radius: 0.2em;
	font-weight: bold;
	margin-top: 1em;
	text-align: left;
	width:100%;
	position:static;

}

.cintillos p 
{
	color: #fff;
	font-family: 'Advent Pro', sans-serif;
	font-size: 1.2em;
	/*font-weight: bold;*/
	margin: 0;
	padding: 0.5em 0 0.5em 0.3em;
}

@media screen and (min-width: 768px){

	body
	{
		background: #CCCCCC;
	}

	#contenedor
	{
		background: #EEEEEE;
		margin: 0 auto;
		max-width: 768px;
	}

	#contenido
	{
		margin: 1em;
		max-width: 100%; 
	}

	#contenido .item
	{
		overflow: hidden;
	}

	#contenido .item .imagen_item
	{
		float: left; 
		margin-right: 0.6em;
		width: 300px;
		height: 200px;

	}

	#contenido .item .imagen_item img 
	{
		border-radius: 0.3em;
		width: 100%;
		height: 200px;
		/* height: 100px; */
	}

	#musica
	{
		width: 50%;
	}

	#tv_inicio_movil
	{
		width: 50%;
	}

	.destacados
	{
		display: none;
	}



}