a
{
	color: #22BCE0;
}


body
{
	background: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/*max-width: 320px;    Para cerrar los pixeles */
}

footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:before
{
	content: "- ";
}

footer p:last-child:after
{
	content: " -";
}

header
{
	background: #333333;
	color: white;
	overflow: hidden; /* Cuenta las cosas y se acomoda a ellas */
	padding: 0.5em;
	position: relative; /* 00 es el header */
}

header figure
{
	float: left;
}

header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0; /* margen del h1*/
}

header #logo img
{
	border-right: 1px solid white;
	padding-right: 0.5em; /* margen interno */
	margin-right: 0.5em; /* margen externo */
	width: 80px;
}

figure
{
	margin:0;
}

nav
{
	
	box-shadow: rgba(0,0,0,0.5) 0px 1px 10px;
	font-family: sans-serif;
	position: relative; /* Para que partan de aquí los "0s" y aquí se quede el boton plunlicar*/

}

nav ul
{	
	background: #000000;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	/*float: right;*/
	display: inline-block; /* acomoda el menú */
	margin: 0;

}

nav ul li a 
{
	background: #000000;
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

nav ul li a:hover 
{
	background: red;
	text-decoration: none;
}

nav ul #publicar_nav
{

	position: absolute;
	right: 0;
	top: -0.1em;
	
}

nav ul #publicar_nav a 
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

}

#barra-lateral
{
	display: none;
}

#contenido
{
	margin: 0.5em;
}

#contenido .item
{
	background: rgba(241,241,241,0.9);
	/*border-bottom: 3px solid #22BCE0;*/
	/* border-radius: 0.3em; */
	min-height: 100px;
	padding: 1.3em 0;
	border-bottom: 1px dotted #444;
	position: relative;
}


#contenido .item .autor_item
{
	color: #aaa;
	margin-top: 0;
}

#contenido .item .datos_item
{
	margin: 0.3em 1em 0 0;
}

#contenido .item .datos_item .fecha_item
{
	
	bottom: 1em;
	color: #ccc;
	font-size: 0.8em;
	position: absolute;
}

#contenido .item .datos_item .tag_item
{
	
	display:none;
/*
	background: #F4502A;
	border-radius: 0.3em;
	bottom: 0.3em;
	color: white;
	display: inline-block;
	float: right;
	padding: 0.1em 0.2em;
	text-decoration: none;
	position: absolute;
	right: 0.4em;
	*/
}

#contenido .item .imagen_item
{
	float: left; 
	margin-right: 0.6em;

}

#contenido .item .imagen_item img 
{
	border-radius: 0.3em;
	width: 140px;
	height: 100px;
}

#contenido .item .titulo_item
{

	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 1em 0 0;
}

#contenido .item .titulo_item a 
{
	color: #444;
	font-family: sans-serif;
	font-size:1.1em;
	font-weight: normal;
	text-decoration: none;

}

#contenido .item .votacion
{
	background: white;
	border: 1px solid red;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em 0 0;
	position: absolute;
	right: 3%;
	top: 100%;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}

#destacado_tablet
{
	display: none;
}

#lo_ultimo .item
{
	background: rgba(241,241,241,0.9);
	/*border-bottom: 3px solid #22BCE0;*/
	/* border-radius: 0.3em; */
	min-height: 100px;
	padding: 1.3em 0;
	border-bottom: 1px dotted #444;
	position: relative;
}

#lo_ultimo .item .datos_item .fecha_item
{
	
	bottom: 1em;
	color: #ccc;
	font-size: 0.8em;
	position: absolute;
}

#lo_ultimo .item .imagen_item
{
	float: left; 
	margin-right: 0.6em;

}

#lo_ultimo .item .imagen_item img 
{
	border-radius: 0.3em;
	width: 140px;
	height: 100px;
}

#lo_ultimo .item .datos_item .tag_item
{
	
	display:none;

}

#lo_ultimo .item .titulo_item
{

	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 1em 0 0;
}

#lo_ultimo .item .titulo_item a 
{
	color: #444;
	font-family: sans-serif;
	font-size:1.1em;
	font-weight: normal;
	text-decoration: none;

}


#tv_inicio_movil
{
	text-align: center;
	margin: 1em 0 1em 0;
	width: 100%;
	display: block;

	/*display: none; A 768px */

}

#tv_inicio_movil .caja_video
{
	background: rgba(0,0,0,0.6);
	margin-top: 0.4em;
	height: 250px;
}

#tv_inicio_tablet
{
	display: none;
}


#tv_inicio
{
	background: #cccccc;
	color: #fff;
	height: 250px;
	width: 100%;

}

#tv_inicio_desktop
	{
		display: none;
	}

#tv_inicio p 
{
	font-size: 10em;
	margin: 0; 
}

.cintillos
{
	background-color: #000;
	border-radius: 0.2em;
	font-weight: bold;
	margin-top: 1em;
	text-align: left;
	width:100%;
	position:static;

}

.cintillos p 
{
	color: #fff;
	font-family: 'Advent Pro', sans-serif;
	font-size: 1.2em;
	/*font-weight: bold;*/
	margin: 0;
	padding: 0.5em 0 0.5em 0.3em;
}

@media screen and (min-width: 768px){

	

	#contenido
	{
		overflow: hidden;
	}


	#contenido .item
	{
		width: 49%;
		float: left;
		
	}

	#contenido .item:nth-child(odd) /*Imparez - columna izquierda*/
	{
		margin-right: 2%;
	}	

	#destacado_tablet
	{
		background: black;
		display: block;
		width: 100%;
		height: 250px;
	}

	#lo_ultimo
	{
		/* background: red; */ 
		display: inline-block;
		margin: 0;
		width: 50%;
		margin-right: 2%;
	}

	#lo_ultimo .item
	{
		width: 100%;
		float: none;

	}


	#mas_videos .item
	{
		background: rgba(0,0,0,0.3);
		/*border-bottom: 3px solid #22BCE0;*/
		/* border-radius: 0.3em; */
		min-height: 100px;
		padding: 1.3em 0.5em;
		margin-bottom: 1px dotted white;
		position: relative;
		text-align: left;
		width: 100%;
	}

	#mas_videos .item .datos_item .fecha_item
	{
	
		bottom: 1em;
		color: #fff;
		font-size: 0.8em;
		position: absolute;
	}

	#mas_videos .item .imagen_item
	{
		float: left; 
		margin-right: 0.6em;

	}

	#mas_videos .item .imagen_item img 
	{
		border-radius: 0.3em;
		width: 140px;
		height: 100px;
	}

	#mas_videos .item .datos_item .tag_item
	{
	
		display:none;

	}

	#mas_videos .item .titulo_item
	{

		font-size: 1em;
		font-weight: bold;
		margin: 0 0 0.5em 0.5em;
		padding: 0.2em 1em 0 0;
	}

	#mas_videos .item .titulo_item a 
	{
		color: #444;
		font-family: sans-serif;
		font-size:1.1em;
		font-weight: normal;
		text-decoration: none;

	}

	#tv_inicio_movil
	{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: 47%;
	}

	#tv_inicio_tablet
	{
		display: block;
		float:right;
		
	}

	#tv_inicio_desktop
	{
		display: none;
	}

	.entradas
	{
		/* background: red; */
		margin-top:0.5em;
		overflow: hidden;
		
	}


}

@media screen and (min-width: 1000px){

	body
	{
		background: #666;
	}

	

	#barra_lateral
	{
		background: #cccccc;
		display: inline-block;
		
		margin: 0.5em 0 0 0;
		min-height: 400px;
		vertical-align: top;
		min-width: 300px;
	}

	#contenedor
	{
		background: #EEEEEE;
		margin: 0 auto; /*centrar*/
		width: 1024px;
		padding: 0.8em;
	}

	#contenido
	{
		display: inline-block;
		margin-bottom: 0.5em;
		margin-top: 0.5em; 
		margin-right: 1%;
		margin-left: 0;
		width: 69%;		

	}

	

	#tv_inicio_tablet
	{
		display: none;
	}

	#tv_inicio_desktop
	{
		display: block;
		float:right;
		max-width: 300px;
	}

	
	/* #contenido .item
	{
		max-width: 320px;
	} */

}

